*{
    margin:0;
    padding:0;
    border:0;
}

/*header*/
header {
    box-shadow: 0px -1px 20px 1px grey;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 58px;
    width: 100%; /* Full width */
    z-index: 9999;
}

header #logo {
    padding: 12px 14px;
    float: left;
}

header #logo a {
    font-family: 'Adlery Pro';
    font-size: 25px;
    text-decoration: none;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header li a {
    color: #2f2f2f;
    font-family: 'AkkuratRegular';
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.1px;
}

header nav {
    float: right;
    margin-top: 21px;
}

header img {
    float: right;
    border-radius: 50%;
    height: 80%;
    margin: 10px 30px 0px 40px;
    margin-top: 7px;
    margin-left: 30px;
}

/* TEXT TYPE */
.text-logo {
    font-family: 'Adlery Pro';
    font-size: 25px;
}

h1{
    font-family: 'Circular Black';
    margin-bottom: 20px;
    font-size: 40px;
}

h2 {
    font-family: 'Circular Medium';
    margin-bottom: 10px;
}

p {
    font-family: 'Open Sans';
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}

/* The landing image */

.landing-image{
    background-image: url('../../public/assets/img/rsz_1landing-img.jpg');
    margin-top: 58px;
    width: 1366px;
    height: 500px;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 15px;
}

.landing-image span{
    font-family: 'AkkuratBoldBold';
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: bolder;
}

.landing-image a{
    position: relative;
    top: 65%;
    margin: 20px 20px;
}

/*start of two buttons */

.myButton {
    background-color:#f95d91;
    border-radius:25px;
    box-shadow: 0px 18px 80px -10px grey;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Open Sans';
    font-size:14px;
    padding:16px 40px;
    letter-spacing: 1.3px;
    text-decoration:none;
}
.myButton:hover {
    background-color:#f53da2;
}
.myButton:active {
    position:relative;
    top:1px;
}

.myButton2 {
    background-color:#f5faf6;
    border-radius:25px;
    box-shadow: 0px 18px 80px -10px grey;
    border: 0.4px solid #1a031a;
    display:inline-block;
    cursor:pointer;
    color:#1a031a;
    font-family:Arial;
    font-size:14px;
    padding:16px 85px;
    text-decoration:none;
}
.myButton2:hover {
    background-color:#edf2ea;
}
.myButton2:active {
    position:relative;
    top:1px;
}

#content1{
    background-color: #FFF;
    float: left;
    padding: 20px 60px;
}

#content2 {
    float: left;
    background: linear-gradient(to bottom right, #fe707c, #f85996);
    padding: 40px 60px 20px 60px;
}

#features {
    display: inline-block;
    float: left;
    min-width: 400px;
    width: 30%;
}

#features h1 {
    margin-bottom: 33px;
    font-family: 'AkkuratBoldBold';
}

#features h2 {
    margin-bottom: 2px;
    font-family: 'AkkuratBoldBold';
    font-size: 22px;
}

#features p {
    font-family: 'Open Sans';
    font-size: 18px;
}

#content3 {
    background-color: #FFF;
    text-align: center;
}

#sign-up {
    display: inline-block;
    margin: 45px auto;
    padding: 10px;
    min-width: 300px;
    width: 20%;
}

#sign-up h1 {
    font-family: 'AkkuratBoldBold';
    font-size: 25px;
    margin-bottom: 0px;
}

#sign-up h2 {
    float: left;
    font-family: 'AkkuratBoldBold';
    font-size: 14px;
    margin: 10px 0px 13px 4.5px;
}

#sign-up input[type=text] {
    border: 2px solid #b8b8b8;
    border-radius: 4px;
    font-family: 'AkkuratRegular';
    margin-bottom: 12px;
    padding: 3px 10px;
    height: 30px;
    width: 90%;
}

#sign-up input[type=submit] {
    padding: 14px 50px;
    margin-top: 15px;
}

/* class in main tag */
.main {
  padding: 88px;
}

.prodlist{
  margin-bottom: 75px;
}

.prodlist_itemlist{
  white-space: nowrap;
}

.nowrap_scroll{
    white-space: nowrap;
    overflow-x: scroll;
}

.prodlist_header_text{
  font-size: 1.3ch;
}

.prodlist_item{
  margin: 10px;
  margin-bottom: 30px;
  display: inline-grid;
  padding: 30px;
  box-shadow: 0px 10px 15px #ffffff;
  border-radius: 10px;

  transition: 0.5s;
}

.prodlist_item:hover{
  box-shadow: 0px 10px 30px #E8E8E8;
  transform: translate3d(0px, -3px, 0px);
}

.prodlist_label_details{
  overflow: hidden;
}

.prodlist_label_details_itemtype{
  font-size: smaller;
}

.prodlist_label_details_title{
  width: 250px;
  font-weight: bold;
  font-size: large;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.prodlist_label_details_location{
  margin-top:0;
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;

  font-size: small;
}

.prodlist_label_details_price{
  margin-top:3px;
  margin-bottom:3px;
}

.center-cropped {
  position: relative;
  width: 250px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

/* Set the image to fill its parent and make transparent */
.center-cropped img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


.larger-font{
  font-size: larger;
}

#style-2::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #DDDDDD;
  transition: 0.5s;
}

#style-2::-webkit-scrollbar-thumb:hover
{
  border-radius: 10px;
  background-color: #999999;
}
